.bottom-menu {
    &__list {
        list-style-type: none;
        padding: 0;
    }
    &__item {
        border-bottom: 2px solid #FFFFFF;
        margin-bottom: 30px;
    }
    &__item-link {
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }
    &__item-link:hover {
        color: #fff;
    }
}