.header {
    position: relative;
    height: 100vh;
    &__video-bg{
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -10;
    }
    &__top {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #FFFFFF;
    }
    &__logo {
        margin: 20px 0 23px 0;
        display: flex;
        justify-content: center;
    }
    &__logo-link {}
    &__logo-img {}
    &__menu {}
    &__title-general {
        margin: 450px 0 0 50px;

    }
    &__above-title-link {
        margin-left: 18px;
    }
    &__above-title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__above-title-text {
        font-weight: 700;
        font-size: 26px;
        line-height: 24px;
        color: #fff;
        margin: 0;
    }
    &__title {
        font-weight: 700;
        font-size: 140px;
        line-height: 140px;
        color: #fff;
    }
    &__bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        
    }
    &__bottom-menu {}
    &__socials {}
}
.logo {
}



