.menu {

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-right: 10px;
    }
    &__list-link {
        color: #fff;
        text-transform: uppercase;
    }
    &__list-link:hover {
        color: #fff;
    }
}