.services {
    // height: 100vh;
    // z-index: 15;
    // background:  #fff;
    .container-fluid {
        padding: 0;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__link {
        display: block;
        height: 50vh;
        position: relative;
        color: #fff;
        background-color: transparent;
        z-index: 20;
    }
    &__link::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        border-radius: 0px;
        transition-duration: 0.2s;
        opacity: 0.6;
        margin-bottom: 0px;
        background-color: #414757;
        z-index: 1;
    }
    &__link:hover {
        color: #fff;
        &::before {
            opacity: 0;
        }
    }
    
    &__link-item {
        // position: relative;
        padding: 0;
        padding: 10% 20% 10%;
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__link-above-title {
        // position: absolute;
        // z-index: 10;
        // margin-bottom: 205px;
    }
    &__link-title {
        // position: absolute;
        // margin-bottom: 20%;
        // top: 70%;
        // z-index: 10;
    }
    &__button {
        // position: absolute;
    }
    &__button-text {
        // position: absolute;
    }
    &__button-img {
        // position: absolute;
    }
    
    
    &__link-video {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
}

