.services {
    height: 100vh;
    .container-fluid {
        padding: 0;
    }
    &__inner {
    }
    &__link {
        display: block;
        height: 50vh;
        position: relative;
        color: #fff;
    }
    &__link:hover {
        color: #fff;
    }
    
    &__link-item {
        // position: absolute;
        padding: 0;
        padding: 50px 90px 68px;
    }
    // &__link-top {
    //     position: absolute;
    //     z-index: 10;
    // }
    &__link-above-title {
        // position: absolute;
        z-index: 10;
        margin-bottom: 205px;
    }
    &__link-title {
        // position: absolute;
        // margin-bottom: 205px;
        top: 70%;
        z-index: 10;
    }
    &__button {
        // position: absolute;
    }
    &__button-text {
        // position: absolute;
    }
    &__button-img {
        // position: absolute;
    }
    &__link-video {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        width: 100%;
        height: auto;
        // z-index: -1;
    }
}

